@import "tailwindcss";

@theme {
  --color-primary: rgb(100, 100, 255);
  --color-primary-2: rgb(150, 150, 255);
  
  /* Button */
  --color-button-bg: var(--color-primary);
  --color-button-bg-hover: var(--color-primary-2);
  --radius-button: 10px;
}